/* DESKTOP */
@media (min-width: 1024px){
/******************************************************************
Ajustes Generales
******************************************************************/
/* Encabezado */
    header{
        height: 80px;
    }
    header >  h1 {
        width: 50%;
        font-size: 3em;
        text-align: left;
    }
    
    header > nav {
        width: 50%;
    }
    header > nav > label {
        display: none;
    }
    header > nav > ul {
        background-color: rgba(0, 0, 0, 0);
        display: inline;
        position: initial;
    }
    header > nav > ul > li{
        background-color: orange;
        display:inline-block;
        font-size: 1em;
        width: auto;
        padding: 1% 2%;
        margin: 0 px;
    }
/* Encabezado */






/******************************************************************
PAGINA PRINCIPAL Content
******************************************************************/
    body{
        grid-template-areas: 
            "head head head"
            ". content ."
            "pie pie pie"
        ;
        grid-template-columns: 1fr  8fr 1fr;
    }

    /* Main Ad*/
    #index .mainad {
        width: 100%;
        max-height: 400px;
    }
    #index .mainad::before {
        width: 80vw;
        max-height: 400px;
    }
    #index .mainad h2{
        font-size: 4vw;
    }
    #index .mainad p{
        font-size:1.5vw;
    }



    /* Galeria */
    #index .gallery h2{
        font-size: 2em;
    }

















/******************************************************************
PAGINA TIENDA Content
******************************************************************/
/*Barra de Busqueda*/
    #items .nav-search{
        height: 2.5vw;
    }
    #items .nav-search form{
        width: 60%;
    }
    #items .nav-search form input{
        padding: 1%;
        width: 90%;
    }
    #items .nav-search form button{
        width: 10%;
    }
    #items .nav-search .button{
        width: 10%;
    }

/*Articulos de la Tienda*/
    #tienda #items article{
        width: 33%;
        height: 20vw;
    }


/******************************************************************
PAGINA NOSOTROS Content
******************************************************************/
#contact .content{
    flex-wrap: nowrap;
}
#contact .content section {
   width: 50%;
}



/******************************************************************
PAGINA PREGUNTAS FRECUENTES Content
******************************************************************/
#qanda h2{
    font-size: 5vw;
    text-align: left;
    margin: 5% auto 5% auto;
}

#qanda section article h3{
    font-size: 3vw;
}

#qanda section article p{
    font-size: 1.5vw;
}




}