/* Ajustes por defectos */
body {
  background-color: rgb(239, 250, 255);
  background-image: url(../media/background.jpg);
  background-repeat: no-repeat;
  background-repeat: round;
}

/******************************************************************
Ajustes Generales
******************************************************************/
/* Ajustes Generales */
/* Colores */
/* Theme adjust */
.container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
}

@media (min-width: 1024px) {
  .container {
    width: 80%;
  }
}
/* General settings */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Templates */
.nav-bar {
  margin: 0;
  width: 100%;
  height: 75px;
  background-color: #0d6efd;
  display: flex;
  /* flex */
  flex-wrap: nowrap;
  justify-content: space-between;
}
.nav-bar .nav-logo {
  height: 60%;
  width: 20%;
  display: flex;
  align-self: center;
  justify-content: start;
}
.nav-bar .nav-logo img {
  height: 100%;
}
.nav-bar .nav-title {
  width: 80%;
  height: 100%;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar .nav-title a {
  color: #000;
  text-decoration: none;
}
.nav-bar .nav-menu {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar .nav-menu .menu-control {
  font-size: 2em;
  border: 1px solid lightgray;
  padding: 3px 8px;
  border-radius: 5px;
  background-color: #fd7e14;
}
.nav-bar .nav-menu #menu-control {
  display: none;
}
.nav-bar .nav-menu .menu {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #fd7e14;
}
.nav-bar .nav-menu .menu li {
  width: 100%;
}
.nav-bar .nav-menu .menu li a {
  margin: 20px;
  display: block;
  text-align: center;
  font-size: 2em;
  color: #000;
  text-decoration: none;
}
.nav-bar .nav-menu .menu li a:hover {
  color: #495057;
}
.nav-bar input#menu-control:checked ~ .menu {
  display: flex;
}
@media (min-width: 481px) {
  .nav-bar .nav-logo {
    height: 70%;
    justify-content: center;
  }
  .nav-bar .nav-title {
    font-size: 3em;
  }
  .nav-bar .nav-menu .menu li a {
    margin: 15px;
  }
}
@media (min-width: 1024px) {
  .nav-bar .nav-title {
    width: 20%;
    justify-content: start;
  }
  .nav-bar .nav-menu {
    width: 180%;
  }
  .nav-bar .nav-menu .menu-control {
    display: none;
  }
  .nav-bar .nav-menu .menu {
    justify-content: end;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: auto;
    left: auto;
  }
  .nav-bar .nav-menu .menu li {
    border-radius: 5px;
    background-color: #fd7e14;
    margin: 0 1%;
    width: auto;
  }
  .nav-bar .nav-menu .menu li:last-child {
    margin-right: 3%;
  }
  .nav-bar .nav-menu .menu li a {
    font-size: 1em;
  }
}

.presentation {
  background-color: red;
  height: 500px;
}
.presentation::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  top: -200%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.presentation .preImg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.presentation .preImg img {
  min-width: 100%;
  min-height: 100%;
}
.presentation .preDesc {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  z-index: 2;
  color: white;
}
.presentation .preDesc h2 {
  font-size: 2.5em;
  padding: 0 20px;
  height: 50%;
  width: 100%;
  text-align: center;
}
.presentation .preDesc p {
  font-size: 1.5em;
  width: 100%;
  text-align: right;
  padding: 0 20px;
}

.footer {
  padding: 10px 0;
  width: 100%;
  min-height: 75px;
  background-color: #0d6efd;
  display: flex;
  /* flex */
  flex-wrap: wrap;
  align-items: center;
}
.footer .subscribeForm {
  width: 100%;
}
.footer .subscribeForm form {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.footer .subscribeForm form input {
  width: 50%;
  height: 20px;
  margin-right: 1%;
  border-radius: 5px;
}
.footer .subscribeForm form button {
  background-color: orange;
  width: 30%;
  border-radius: 5px;
}
.footer .copyright {
  width: 200%;
  font-size: 1.1em;
  text-align: center;
}
.footer .copyright span {
  font-size: 0.9em;
  color: rebeccapurple;
}
.footer .socials {
  width: 100%;
}
.footer .socials ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer .socials ul li {
  margin: 3%;
  font-size: 2em;
}
.footer .socials ul li a {
  color: #000;
  text-decoration: none;
}
.footer .socials ul li a:hover {
  color: lightgray;
}
@media (min-width: 481px) {
  .footer .subscribeForm form input {
    width: 45%;
  }
  .footer .subscribeForm form button {
    width: 20%;
  }
}
@media (min-width: 1024px) {
  .footer {
    flex-wrap: nowrap;
  }
  .footer .subscribeForm form input {
    width: 55%;
  }
  .footer .subscribeForm form button {
    width: 35%;
  }
}

/* Cuantos Sliders Tiene Tu Web?*/
@keyframes slideAnimation {
  0% {
    margin-left: 0;
  }
  10% {
    margin-left: 0;
  }
  95% {
    margin-left: -100%;
  }
  100% {
    margin-left: -100%;
  }
}
.sliders {
  /* display: none; */
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  max-width: 1280px;
  height: 35vw;
  min-height: 300px;
  max-height: 500px;
  background-color: white;
}
.sliders ul {
  display: flex;
  animation: slideAnimation 5s infinite ease-out;
  width: 300%;
  height: 100%;
  /* background-color: aqua; */
}
.sliders ul li {
  display: block;
  width: 100%;
  height: 100%;
}
.sliders ul li img {
  display: block;
  width: 100%;
  height: 100%;
}
.sliders ul li p {
  display: block;
  position: relative;
  bottom: 50px;
  font-size: 2em;
  text-align: center;
  text-shadow: 0 0 10px black;
  color: white;
}
.gallery {
  display: block;
  /* block */
  padding: 15px 0;
  width: 100%;
}
.gallery h2 {
  text-align: center;
  font-size: 2.5em;
  margin: 20px;
}
.gallery .galleryItems {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.gallery .galleryItems .galleryItem {
  margin: 0.5% 0;
  display: flex;
  overflow: hidden;
  width: 48%;
  max-height: 350px;
}
.gallery .galleryItems .galleryItem img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
@media (min-width: 481px) {
  .gallery .galleryItems .galleryItem {
    width: 32%;
  }
}
@media (min-width: 1024px) {
  .gallery .galleryItems .galleryItem {
    width: 24%;
  }
}

.store {
  /* display: none; */
  padding: 15px 0;
  /* background-color: red; */
}
.store .nav-search {
  margin: 10px 0;
  width: 100%;
}
.store .nav-search form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  width: 100%;
  column-gap: 10px;
}
.store .nav-search form input[type=search] {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px 7px;
  background-color: orange;
  width: 50%;
  background-color: rgba(0, 0, 0, 0);
}
.store .nav-search form button,
.store .nav-search form .controlFilter {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px 7px;
  background-color: orange;
}
.store .nav-search form input#controlFilter {
  display: none;
}
.store .nav-search form input#controlFilter:checked ~ .filters {
  display: block;
}
.store .nav-search form .filters {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 50vh;
  z-index: 5;
  left: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
}
.store .nav-search form .filters .controlFilter {
  display: block;
  position: absolute;
  right: 20px;
  top: 10px;
}
.store .nav-search form .filters h3 {
  text-align: center;
  font-size: 1.2em;
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
}
.store .nav-search form .filters .filterSelection {
  padding: 5px 15px;
}
.store .nav-search form .filters .filterSelection .filter {
  margin: 20px auto;
  width: 90%;
}
.store .nav-search form .filters .filterSelection .filter h4 {
  padding: 10px 30px;
  font-size: 1.1em;
}
.store .nav-search form .filters .filterSelection .filter input[type=range] {
  width: 100%;
}
.store .articles {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 50px;
}
.store .articles .article {
  /* 
  border: 1px solid lightgray; */
  cursor: pointer;
  border-radius: 5px;
  min-width: 200px;
  width: 48%;
  max-width: 250px;
  min-height: 300px;
}
.store .articles .article:hover .articleDescription {
  border: 1px solid lightgray;
  /* background-color: aquamarine; */
  /* height: 30%; */
}
.store .articles .article .articleImg {
  border-radius: 5px 5px 0 0;
  background-color: rgb(235, 235, 235);
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 250px;
}
.store .articles .article .articleImg img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.store .articles .article .articleDescription {
  border: 1px solid lightgray;
  padding: 3% 3%;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
  /* background-color: wheat; */
  height: 20%;
}
.store .articles .article .articleDescription h3 {
  width: 100%;
  /* background-color: red; */
  display: inline;
  margin: 5% 0;
  font-size: 1.4em;
  height: 20%;
  white-space: nowrap;
  text-overflow: clip;
}
.store .articles .article .articleDescription p {
  /* background-color: aqua; */
  color: black;
  font-size: 1.4em;
  margin: 5% 0;
  height: 45%;
  white-space: nowrap;
  text-overflow: clip;
}
.store .articles .article .articleDescription p span {
  font-size: 0.7em;
  color: green;
  text-decoration: line-through;
}
@media (min-width: 481px) {
  .store {
    /* .articles{
        .article{
            width: 31%;
        }
    } */
  }
  .store .nav-search form {
    display: flex;
    flex-wrap: wrap;
  }
  .store .nav-search form .filters {
    background-color: lightgray;
    display: none;
    position: static;
    width: 100%;
    height: auto;
    margin: 10px 0;
    padding: 0;
  }
  .store .nav-search form .filters h3 {
    display: none;
  }
  .store .nav-search form .filters .filterSelection {
    display: flex;
  }
  .store .nav-search form .filters .filterSelection .filter {
    margin: 0 10px;
  }
}
@media (min-width: 1024px) {
  .store {
    /* .articles{
        .article{
            width: 23.2%;
        }
    } */
  }
}

.contactForm {
  /* display: none; */
  /* just comment */
  width: 100%;
  padding: 10px 0;
}
.contactForm form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contactForm form label, .contactForm form input, .contactForm form textarea, .contactForm form button {
  display: block;
  width: 90%;
  margin-top: 7px;
}
.information {
  padding: 10px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 10px;
}
.information .article {
  padding: 10px;
  width: 100%;
}
.information .article h2 {
  font-size: 2em;
  text-align: center;
  margin: 15px 0;
}
.information .article img {
  display: block;
  position: static;
  max-height: 300px;
  max-width: 95%;
  margin: 5px auto;
}
.information .article p {
  font-size: 1.2em;
  text-align: justify;
}
@media (min-width: 481px) {
  .information .article {
    width: 46%;
  }
  .information .article:last-child {
    width: 94%;
  }
  .information .article:last-child img {
    float: left;
    width: 80%;
    margin: 5px 10px;
    max-width: 500px;
    max-height: 400px;
  }
}
@media (min-width: 1024px) {
  .information .article {
    width: 46%;
  }
  .information .article:last-child img {
    width: 50%;
    margin: 1%;
  }
  .information .article img {
    width: 100%;
  }
}

.qanda {
  display: flex;
  flex-wrap: wrap;
  padding: 3% 5%;
}
.qanda .questions {
  width: 100%;
  border-radius: 10px;
  padding: 2%;
}
.qanda .questions h2 {
  text-align: center;
  font-size: 2em;
  padding: 30px 0;
}
.qanda .questions .question {
  padding: 1% 2%;
  background-color: rgb(233, 233, 233);
  margin: 10px 0;
}
.qanda .questions .question h3 {
  font-size: 1.5em;
  padding: 10px;
}
.qanda .questions .question p {
  font-size: 1.2em;
}
.qanda .qandaExtra {
  width: 100%;
  display: flex;
  justify-content: center;
}
.qanda .qandaExtra div {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.qanda .qandaExtra div img {
  max-width: 100%;
  max-height: 100%;
}
@media (min-width: 481px) {
  .qanda {
    flex-wrap: nowrap;
  }
  .qanda .questions {
    width: 50%;
  }
  .qanda .qandaExtra {
    max-width: 50%;
    display: flex;
  }
  .qanda .qandaExtra div {
    display: flex;
    align-content: space-around;
  }
  .qanda .qandaExtra div img {
    max-width: 100%;
    max-height: 100%;
  }
}
/******************************************************************
Ajustes De Paginas
******************************************************************/
.contactUs {
  width: 90%;
  padding: 5%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.contactUs .contactForm, .contactUs .map {
  margin: 10px 0;
  width: 100%;
}
.contactUs .contactForm h2, .contactUs .map h2 {
  text-align: center;
  font-size: 2em;
  margin: 20px 0;
}
.contactUs .contactForm iframe, .contactUs .map iframe {
  width: 100%;
}
.contactUs .contactForm p, .contactUs .map p {
  margin: 20px 0;
  font-size: 1.3em;
}
.contactUs .contactForm p i, .contactUs .map p i {
  margin: 5px 15px 10px 0;
}
.contactUs .contactForm p a, .contactUs .map p a {
  color: inherit;
  text-decoration: none;
}
@media (min-width: 481px) {
  .contactUs .contactForm, .contactUs .map {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .contactUs .contactForm, .contactUs .map {
    width: 45%;
  }
}

/*# sourceMappingURL=main.css.map */
