/* TABLET */
@media (min-width: 481px)/*  and (max-width:1023px) */{
/******************************************************************
Ajustes Generales
******************************************************************/
    /* Encabezado */
    header{
        h1{
            font-size: 2.5em;
        }
        nav {
            ul{
                top: 80px;
                li {
                    font-size: 3em;
                }
            }
        }
    }

/******************************************************************
PAGINA PRINCIPAL Content
******************************************************************/
    /* Main Ad*/
    .mainad {
        max-height: 500px;
        &::before {
            content: '';
            max-height: 500px;
        }
        h2{
            font-size: 2em;
        }
        p{
            font-size: 1.3em;
        }
    }

    /* Galeria */
    .gallery{
        h2{
            font-size: 2.5em;
        }
        article{
            width: 30%;
        }
    }

    #index .gallery{
        flex-wrap: wrap;
    }

/******************************************************************
PAGINA TIENDA Content
******************************************************************/
    /*Anuncio*/
    .sliders{
        max-height: 500px;
        .sliderItems{
            .sliderItem{
                img{
                    height: 100%;
                }
            }
        }
    }

    /*Articulos de la Tienda*/
    .purchaseItems{
        .nav-search{
            form{
                .search-bar{
                    width: 70%;
                    input[type=search]{
                        width: 87.5%;
                    }
                    button{
                        width: 12.5%;
                    }
                }
                .filterSection{
                    label{
                        width: 40%;
                    }
                }
            }
        }
        article{
            width: 30%;
            max-height: 375px;
        }
    } 

/******************************************************************
PAGINA NOSOTROS Content
******************************************************************/
    /* articles */
    .sections{
        .article{
            h2{
                margin: 25px 0;
                font-size: 1.7em;
            }
            p{
                font-size: 1.3em;
                letter-spacing: 1px;
                line-height: 25px;
            }
        }
    }
        
/******************************************************************
PAGINA PREGUNTAS FRECUENTES Content
******************************************************************/
    .qanda{
        h2{
            font-size: 2em;
        }
        .questions{
            .question{
                h3{
                    font-size: 1.7em;
                }
                p{
                    font-size: 1.3em
                }
            }
        }
    }


}