div.information {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 10px 0;

  div.article {
    padding: 10px;
    width: 100%;

    h2 {
      font-size: 2em;
      text-align: center;
      margin: 15px 0;
    }
    p {
      padding: 5px;
      font-size: 1.2em;
      text-align: justify;

      img {
        width: 100%;
        padding: 5px 10px;
      }
    }
  }
}
@media (min-width: 481px) {
  div.information {
    div.article {
      width: 50%;

      &:nth-child(3) {
        width: 80%;

        img {
          width: 400px;
          float: left;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  div.information {
    div.article {
      p {
        img {
          width: 400px;
        }
      }
      &:nth-child(1) {
        img {
          float: left;
        }
      }
      &:nth-child(2) {
        img {
          float: right;
        }
      }
    }
  }
}
