@mixin information {
    padding: 10px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 10px;
    .article{
        padding: 10px;
        width: 100%;
        h2{
            font-size: 2em;
            text-align: center;
            margin: 15px 0;
        }
        img{
            display: block;
            position: static;
            max-height: 300px;
            max-width: 95%;
            margin: 5px auto;
        }
        p{
            font-size: 1.2em;
            text-align: justify;
        }
    }
    @media (min-width: 481px){
        .article{
            width: 46%;
            &:last-child{
                width: 94%;
                img{
                    width: 80%;
                    max-width: 500px;
                    max-height: 400px;
                }
            }
        }
    }
    @media (min-width: 1024px){
        .article{
            width: 46%;
            &:last-child{
                img{
                    float: left;
                    width: 50%;
                    margin: 1%
                }
            }
            img{
                width: 100%
            }
        }
    }
}


.information{
    @include information;
}