@mixin contactForm {
    /* display: none; *//* just comment */
    width: 100%;
    padding: 10px 0;
    form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        label, input, textarea, button{
            display: block;
             width: 90%;
             margin-top: 7px;
        }
    }
    @media (min-width: 481px){}
    @media (min-width: 1024px){}
}

.contactForm{
    @include contactForm;
}