* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: calc(100vh);
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .container {
    width: 80%;
  }
}

@import "navbar";
@import "presentation";
@import "gallery";
@import "footer";
@import "slider";
@import "store";
@import "articles";
@import "contactus";
@import "qanda";
