/* Ajustes por defectos */
body{
    background-color: rgb(239, 250, 255);
    background-image: url(../media/background.jpg);
    background-repeat: no-repeat;
    background-repeat: round;
    display: grid;
}

/******************************************************************
Ajustes Generales
******************************************************************/
// Colores
$bgcolor-1st: rgb(0, 98, 245);
$bgcolor-2nd: rgb(233, 151, 0);
$bgcolor-2nd-active: rgb(182, 118, 1);
$light: rgb(255,255,255);



/* AREAS */
header{
    grid-area: head;
}
.container{
    grid-area: content;
}
footer{
    grid-area: pie;
}

/* MAIN */
.container{
    background-color: $light;
    min-height: 100vh;
}

/* Template para las grids de desktop*/
/* body{
    
    grid-template-areas: 
        "head head head"
        ". content ."
        "pie pie pie"
    ;
    grid-template-columns: 1fr  8fr 1fr;
} */

/******************************************************************
RESPONSIVE DESING
******************************************************************/
@import 'reset.scss';
@import 'mobile.scss';
@import 'tablet.scss';
@import 'desktop.scss';

/* General Desing*/
/* .btn{
    padding: 0 5px;
    height: 32.5px;
    background-color: orange;
    border-radius: 5px;
    border: none;
    i{
        padding: 100%;
    }
} */