div.store {
  margin: 10px 0;
  padding: 10px 0;

  form.nav-search {
    width: 100%;
    margin: 10px 0;
    padding-bottom: 10px;

    div.search-bar {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: nowrap;
      width: max-content;
      margin: 0 auto;

      input[type="search"] {
        width: 100%;
        margin: 0 5px;
        padding: 8px 12px;
        border: 1px solid lightgray;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0);
      }
      button,
      label {
        display: flex;
        align-items: center;
        margin: 0 5px;
        padding: 5px 10px;
        border: 1px solid gray;
        border-radius: 5px;
        background-color: orange;
        cursor: pointer;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
    input#filter-control {
      display: none;
    }
    input#filter-control:checked ~ div.filters {
      height: 250px;
      padding: 5px;
    }
    div.filters {
      width: 100%;
      height: 0px;
      padding: 0px;
      overflow: hidden;
      transition: all 0.3s ease-in-out;

      > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        border-radius: 5px;
        background-color: lightgray;

        h3 {
          width: 100%;
          height: max-content;
          margin: 5px 0;
          padding: 5px 0;
          text-indent: 10%;
        }
        div.filter-selection {
          width: 100%;

          div.filter {
            width: 90%;
            margin: 0 auto 15px auto;

            h4 {
              padding: 5px 0;
              font-size: 1.1em;
              text-indent: 10%;
            }
            input[type="range"] {
              width: 100%;
            }
            label {
              display: inline-flex;
              width: max-content;
              margin: 5px;

              > input {
                margin: 0 7px;
              }
            }
          }
        }
      }
    }
  }
  div.articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    width: 100%;
    margin: 10px 0;
    padding: 10px;

    div.article {
      width: 100%;
      border: 1px solid lightgray;
      border-radius: 5px;
      cursor: pointer;
      overflow: hidden;

      .articleImg {
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 200px;

        img {
          margin: auto;
          max-width: 100%;
          max-height: 100%;
        }
      }
      .articleDescription {
        padding: 3% 3%;
        position: relative;
        border-top: 1px solid lightgrey;
        overflow: hidden;

        h3 {
          width: 100%;
          padding: 1px 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        p {
          padding: 2px 0;
          text-align: center;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          span {
            display: inline-block;
            width: max-content;
            font-size: 0.7em;
            color: green;
            text-decoration: line-through;
          }
        }
      }
    }
  }
}

@media (min-width: 481px) {
  div.store {
    form.nav-search {
      div.search-bar {
        input[type="search"] {
          width: 300px;
        }
      }
    }
    div.articles {
      grid-template-columns: repeat(auto-fill, 200px) !important ;
      justify-content: space-evenly;
    }
  }
}
